
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
        span{
          background: #000;
          color: #fff;
          padding: 3px;
        } 
  }